body {
  max-width: 800px;
  margin: 25px auto;
  background-color: #fff8ee;
}

nav a {
  color:#362917;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  margin: 8px;
}

nav {
  text-align: center;
}

h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #362917;
  padding-top: 20px;
}

h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #362917;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.FloatedLeftImage {
  float: left;
  padding-right: 25px;
}

#AboutSection {
  float: left;
  max-width: 600px;
  display: inline-block;
}

aside {
  text-align: center;
  background-color: white;
  max-width: 150px;
  float: right;
}

main::after {
  content:"";
  clear:both;
  display: block;
}

footer {
  text-align: center;
}

p.CopyRight {
  color: #362917;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
}
